@model List<Entity.Concrete.AkademikPersonel>

@{
    ViewData["Title"] = "Akademik Personel Yönetimi";
}

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center">
        <h2>@ViewData["Title"]</h2>
        <button id="addRowBtn" type="button" class="btn btn-secondary">Ekle</button>
    </div>
    <table class="table table-bordered mt-3" id="dataTable">
        <thead class="table-light">
            <tr>
                <th style="width: 10%;">Id</th>
                <th>Ad</th>
                <th>Unvan</th>
                <th>İşlem</th>
            </tr>
        </thead>
        <tbody id="tableBody">
            @foreach (var item in Model)
            {
                <tr data-id="@item.Id">
                    <th scope="row">@item.Id</th>
                    <td>@item.Ad</td>
                    <td>@item.Unvan</td>
                    <td>
                        <button class="btn btn-warning btn-sm edit-btn" data-id="@item.Id" data-name="@item.Ad" data-title="@item.Unvan">Düzenle</button>
                        <button class="btn btn-danger btn-sm delete-btn" data-id="@item.Id">Sil</button>
                    </td>
                </tr>
            }
        </tbody>
        <tbody id="inputRow" style="display: none;">
            <tr>
                <th scope="row">#</th>
                <td><input type="text" id="newAd" class="form-control" placeholder="Ad giriniz"></td>
                <td><input type="text" id="newUnvan" class="form-control" placeholder="Unvan giriniz"></td>
                <td>
                    <button class="btn btn-success btn-sm" id="submitBtn">Kaydet</button>
                    <button class="btn btn-secondary btn-sm" id="cancelNewRowBtn">İptal</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/component-akademikPersonel.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const entityName = 'AkademikPersonel';

            initializeDeleteButtons(entityName);
            initializeAddButton(entityName);
            initializeEditButtons(entityName);
        });
    </script>
}
